.s{
    border: 1px solid #D6D6D6;
    margin: 0 0 0 10px;
    height: 24px;
    width: 180px;
}
.searchsubmit{
    border: 1px solid #999;
    background: #999;
    padding: 6px 20px;
    color: #FFFFFF;
    font-size: 0.9em;
}
#single-box-list h1{
    font-size:1.8em;
    margin:0 0 15px 0;
}
#single-box-list h1 span{
    font-size:0.7em;
    font-weight:normal;
}
