*{
    margin: 0;
    padding: 0;
}
body, html {
    font-size: 14px;
    font-family: ;
    color: #444;
    min-width: 960px;
}
.header_wapper{
    padding: 20px 60px 10px 60px;
}
.header_wapper img{
    height: 89px;
    width: 89px;
}
.common_wapper{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 45px;
    line-height: 1.9em;
}
p{
    margin-bottom: 5px;
}
h1{
    padding: 0 0 20px 0;
}
h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #a8a8a8;
}
#page_footer.footer {
    color: #a8a8a8;
    padding: 0;
    margin-top: -45px;
    height: 45px;
}
.footer {
    position: relative;
    font-size: 12px;
    text-align: center;
    background: #eee;
    padding: 50px 0 80px;
    width: 100%;
}
.footer_inner {
    padding-top: 11.5px;
    border-top: 1px solid hsla(0,0%,100%,.12);
    margin: 0 auto;
}
.footer_ele{
    display: inline-block;
    margin: 0 auto;
    padding-right: 10px;
    vertical-align: middle;
}
.copyright{
    padding-right: 20px;
}
